
/* Sets results section not to be visible until user has input details*/
#result_section{
  display: none;
}

/* Styles the table*/
table, th, td {
  border: 1px solid;
  width: 100%;
  font-size: 16px;
  font-family:helvetica;
  border: 1px solid #11455A;
  border-collapse: collapse;
  table-layout: fixed;

}

a:hover {
  color: #bc00dd;
}
/* Styles the table to have alternate colours for each row*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styles the table row when user hovers*/
tr:hover {
  background-color: gray;
  color: white;
}

/* Styles the table headers*/
th {
  background-color: #11455A;
  color: white;
  height: 70px;
  padding: 0px;
  font-size: 18px;
}

/* Styles the input for forms*/
input, select {
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Styles the label for forms*/
label {
  font-size: 18px;
  padding: 5px 20px;
  font-family:helvetica;
}

/* Styles the search box*/
#searchBox {
  padding: 5px;
  border-radius: 0.5rem;
  position:relative; 
  left:5%;
  top:25%;
  width:30%;
}

p {
 line-height: 200%; 
}

/* Styles the selected input field*/
input:focus {
  background-color: lightblue;
}


  h1 {
    text-align: center;
    color:#47126b;
    padding: 35px;
    font-family:helvetica;
    font-size:30px;
}
h2 {
  text-align: center;
    color:#47126b;
    font-family:SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
    font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 10px;
  z-index: 100;

}
h3 {
  font-family:helvetica;
}
body {
 background-color: #EAEAEA;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  margin: 0px;
  font-family:helvetica;

}
/* Styles the navigation bar*/
.menuBar {
  background: #cdb4db;
  overflow: hidden;
  border-bottom: 3px solid transparent;
  font-family:helvetica;
  justify-content: space-between;
}



.toggle-button {
  position: absolute;
  top: .74rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Styles buttons */
button {
  display: block;
  margin: 20px auto;
  background-color: #b388eb;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
/* Styles the submit button */
#submit {
  display: block;
  margin: 20px auto;
  background-color: #47126b;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  position: relative;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
  padding: 30px;
}
/* Styles the submit button */
#submit:hover {
  opacity: 0.9;
  cursor: pointer;
  padding: 30px;
}
/* Styles the containers for pay.html */
.card{
  width: 60%;
  padding: 10px 30px;
  background: #cdb4db;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  color: #47126b;
  font-family: helvetica;
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 10%;   
  margin-top: 5%;
  float: left;
  border: none
}  
/* Styles the summary box to reduce row height by reducing visible text */
#summaryBox {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  font-size: 14px;
}

/* Styles the summary cell to display text when hovering */
 #summaryBox:hover {
  z-index: 1;
  width: auto;
  white-space: normal;
  overflow: visible;
  height: auto;
  word-wrap: break-all;
  text-overflow: clip;
  
}
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.locationInfo {
  color: #47126b;
  margin: auto;
  width: 50%;
  padding: 10px;
  line-height: 1.5;
}

h4 {
  color: #47126b;
  margin: auto;
  font-size: 18px;
}
input[type='radio'], label{   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}

.name {   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* Hide the link that should open and close the menuBar on small screens */
.menuBar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the menuBar (.icon) */
@media screen and (max-width: 600px) {
  .menuBar a:not(:first-child) {display: none;}
  .menuBar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the menuBar with JavaScript when the user clicks on the icon. This class makes the menuBar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menuBar.responsive {position: relative;}
  .menuBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.welcome {
  width: 100%;
  height: auto;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;

}
html {
  background: url("images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*nav bar*/
.menuBar{    
  height:100%;
   margin:0px;
      overflow: hidden;
}

/*hamburger menu icon */
.menuBar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* links in the menu */
.menuBar a {
  float: left;
  display: block;
  color: #bf9cd6;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Styles the navigation bar to highlight when hovering */
.menuBar a:hover {
  background-color: #b388eb;
  color: #47126b;
}
/* Styles the navigation bar to highlight active pane */
.menuBar a.active {
  background-color: #b388eb;
  color: #47126b;
}
/* Hide the link that should open and close the topnav on small screens */
.menuBar .icon {
  display: none;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #bf9cd6;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #47126b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b388eb;
  color: #47126b;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #b388eb;
  color: #47126b;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

span {
  background-color: rgba(205,180,219);
  z-index: 100;
}